@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body{
	height: 100%;
	background-image: url("baby_blue.gif");
  	background-repeat: repeat;
  	background-size: 25%;
  	mix-blend-mode: hard-light;
}

.container{
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}
#intro-text {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	font-family: 'Special Elite', cursive;
	background-color: rgba(62, 31, 71, 0.8);
	color: #FFFFFF;
	font-size: 2.75vmax;
	padding: 3%;
	grid-column: 2/8;
	grid-row: 3/8;
}
#author-text{
	display: none;
	color: #FFFFFF;
	background-color: rgba(62, 31, 71, 0.8);
	padding: 2%;
	font-family: 'Special Elite', cursive;
	font-size: 3vmin;
	grid-column: 6/8;
	grid-row: 9;
}

#song{
	display: grid;
	grid-row: 9;
	grid-column: 2;
}
